* {
    margin : 0;
    padding: 0;
}

body {
    background-color: rgb(249, 249, 249);
}

header {
    width: 100%;
    background: url('../img/tobias-keller-73F4pKoUkM0-unsplash.jpg') no-repeat top center; /* Ajout de l'image de fond du header */
}

.boxContainer {
    display: flex;
    justify-content: space-between; /* balise div en flex et placer les div de chaque côté de la page */
}

h1 {
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Mise en place de la barre de navigation. Ne pas mettre de style au contenu de la balise ul*/
#navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#navigation li {
  display: inline;
  margin-right: 1px;
  color: rgb(255, 255, 255);
}

#navigation li a {
  padding-right: 40px;
  color: rgb(255, 255, 255);
  font: 1em "Trebuchet MS",Arial,sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

/* Positionner la balise H1 en bas à gauche du header*/
.boxContainer > div{
    padding-top: 100px;
    padding-left: 15px;
    padding-bottom: 15px;
}

/* Ajouter un espace du haut de la barre de navigation e 15px */
.boxContainer > nav{
    padding-top: 15px;
}


/* Mettre en flex les blocs div contenus dans la sectionc puis centrer dans le sens de la longueur  
   Positionner la section au centre du main avec les bords arrondis.
*/
.sectionBoxContainer {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-family: "Trebuchet MS",Arial,sans-serif;
    position: relative;
    height: 300px;
}

.divChild1 {
    width: 200px;
    height: 200px;
    background-color: rgb(1, 1, 87);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.divChild2 {
    width: 100px;
    height: 100px;
    background-color: rgb(238, 255, 0);
    position: absolute;
    top: 60%;
    left: 75%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanChild1 {
    color: rgb(255, 254, 254);
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-weight: bold;
}

.spanChild2 {
    color: rgb(0, 0, 0);
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-weight: bold;
}

.divRelativeAbsolute {
    text-align: center;
    margin-top: 50px;
    font-family: "Trebuchet MS",Arial,sans-serif;
    color: rgb(190, 174, 174);
}

.bold {
    font-weight: bold;
}